/* 课程管理页面 */
.head_img
{
    width: 35px;
    height: 35px;
}
#course_list
{
    width: 80%;
    margin: 1rem 10%;
}
.mgmt_list
{
    width: 80%;
    margin: 1rem 10%;
}
.course_tittle
{
    margin-top: 7px;
    margin-bottom: 27px;
}
td
{
    font-size: 20px;
}
.back
{
    border-radius: 17px;
}
label
{
    margin: 0 auto;
}
.function_button
{
    margin-bottom: 10px;
}